<ion-header>
  <ion-navbar>
    <ion-title style = 'text-align: center;'>
      {{login ? 'Login': 'Sign Up!'}}
    </ion-title>
    <button 
        ion-button 
        style = 'float: right;' 
        (tap) = 'switchLoginSignUp()'
        clear> 
        {{login ? 'Sign Up!' : 'Login'}}
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label 
      color="primary" 
      *ngIf = 'login'
      floating>Username
    </ion-label>
    <ion-label 
      color="primary" 
      *ngIf = '!login'
      floating>
      Create Username
    </ion-label>
    <ion-input 
      *ngIf = 'login'
      [(ngModel)] = 'username'></ion-input>
    <ion-input 
      *ngIf = '!login'
      (ngModelChange) = 'checkUsername()'
      [(ngModel)] = 'newUsername'></ion-input>
  </ion-item>
  <br><br><br>

  <ion-item>
    <ion-label 
      color="primary" 
      *ngIf = 'login'
      floating>
      Password
    </ion-label>
    <ion-input  
      *ngIf = 'login'
      type = 'password'
      [(ngModel)] = 'password'>
    </ion-input>
    <ion-label 
      color="primary" 
      *ngIf = '!login'
      floating> 
      Create Password
    </ion-label>
    <ion-input  
      *ngIf = '!login' 
      type = 'password'
      [(ngModel)] = 'password'>
    </ion-input>
  </ion-item>
  <br><br><br>
  <ion-item *ngIf = '!login'>
    <ion-label 
      color="primary" 
      floating> 
      Confirm Password
    </ion-label>
    <ion-input  
      type = 'password'
      [(ngModel)] = 'confirmPassword'>
    </ion-input>
  </ion-item>
  <br><br><br>

  <ion-grid>
    <ion-row>
      <ion-col offset-5>
          <button 
            ion-button 
            round
            [disabled] = '!safe'
            (tap) = 'submit()'>
             Submit! 
          </button>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
