<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-list>
      <ion-item *ngFor="let beer of beers">
         <ion-thumbnail item-start>
               <img *ngIf="beer.photo" src = 'beer.photo'>
               <img *ngIf = '!beer.photo' src = './../../assets/imgs/beer.jpg'>
         </ion-thumbnail>
         <h2> {{beer.name}} </h2>
         <p>{{beer.brewery}}</p>
         <button 
            ion-button 
            clear
            item-end
            (tap) = 'viewBeer(beer)'>
            View
         </button>
      </ion-item>
   </ion-list>
</ion-content>
