<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class = 'backgroundImage'>
    <ion-searchbar 
      (ionInput)="getItems()"
      [(ngModel)] = 'searchInput'>
    </ion-searchbar>
   <ion-card *ngFor="let beer of beers"> 
      <ion-card-content>
            <ion-thumbnail item-start>
                  <img *ngIf="beer.photo" [src] = 'beer.photo'>
                  <img 
                     *ngIf="!beer.photo"
                     src="./../../assets/imgs/beer.jpg" />   
            </ion-thumbnail>
            <ion-grid>
               <ion-row>
                  <ion-col col-9>
                     <h2 class ='md-display-2'> {{beer.name}} By {{beer.brewery}} | {{beer.type}} </h2>
                  </ion-col>
                  <ion-col col-3>
                        <button 
                           ion-button 
                           clear
                           item-end
                           (tap) = 'viewBeer(beer)'>
                        View
                     </button>
                  </ion-col>
               </ion-row>
            </ion-grid>
            
            
      </ion-card-content>
   </ion-card> 
</ion-content>
